@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3b82f6;
  --font-urbanist: "Urbanist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-urbanist);
}

* {
  box-sizing: border-box;
}